.qrcode {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.qrcode-content {
    width: 450px;
    height: 450px;
    box-sizing: border-box;
    padding: 10px;
    border: 10px solid #2939ff;
    border-radius: 25px;
}